h1{
    text-align: center;
    color: red !important;
    
}

main{
    text-align: justify;
    background-color: #07617D;
    padding-top: 1px;
    height: 150vh;
}

#huehue{
    padding-left: 70px;
    padding-right: 70px;
    align-content: center;
    font-size: 15px

}

